/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1e1e1e;
    color: white;
    text-align: center;
}

/* HEADER */
h1 {
    font-size: 50px;
    margin-top: 40px;
    color: #0d6efd;
}

p {
    color: #b5b5b5;
}

/* TRAINING GRID */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px;
}

/* TRAINING CARD */
.card {
    background: #222222;
    border-radius: 12px;
    padding: 25px;
    width: 300px;
    transition: 0.3s;
    border: 1px solid #333333;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #0d6efd;
}

/* CARD IMAGES */
.card img {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}

/* TITLES */
.card h2 {
    font-size: 22px;
    color: #0d6efd;
    margin-bottom: 10px;
}

/* BUTTON */
.btn {
    display: inline-block;
    background: #0d6efd;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #0a58ca;
}

/* FOOTER */
.footer {
    margin: 40px 0;
    font-size: 18px;
    color: #b5b5b5;
}
